name: terraform

on:
    workflow_dispatch:
      
    # push:
    #     branches:
    #         - main
    # pull_request: 
    #     branches: 
    #         - main

env:
    TF_VERSION: 1.5.0

jobs:
    terraform:
        name: Terraform
        runs-on: ubuntu-latest

        permissions: 
            contents: read # Allows the workflow to read repository contents, necessary for actions/checkout@v3 to function properly
            id-token: write # Allows the workflow to request an OIDC token, necessary for authentication with cloud providers
            
        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: checking the PWD
          run: |
            pwd
            ls -la
            cat index.html

        - name: changing the directory # This step changes the working directory to 'projectfile' and lists its contents, then reads the contents of file1.txt and file2.txt for this step
          working-directory: ./projectfile
          run: |
            pwd
            ls -la
            cat file1.txt
            cat file2.txt

        - name: checking pwd again
          run: |
            pwd
            ls -la
            echo "terraform version is $TF_VERSION"